# Ignoriši generisane fajlove
gen/

# Ignoriši .log fajlove ako ih imaš negde drugde
*.log

# Ignoriši .svg grafike (ako ne želiš da ih commituješ)
*.svg

# Ignoriši build fajlove
build/
*.o
*.exe

# Ignoriši VSCode workspace fajl (ako koristiš VSCode)
.vscode/

.DS_Store

